body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1F2937;
  padding: 0 200px;
}

.hero-content, .hero-right {
  display: flex;
}

.hero-content {
  margin: 96px 0;
}

.hero-left {
  padding-right: 224px;
}

.hero-right {
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #E5E7EB;
  width: 600px;
  flex-shrink: 0;
}

.hero-left h1, .hero-left p {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 5px;
  border: none;
  padding: 8px 32px;
  font-weight: 900;
  font-size: 16px;
}